/* App.css */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.container {
  margin-top: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.card {
  margin: 10px 0;
}


.custom-container {
  padding-left: 80rem; /* Увеличьте по необходимости */
  padding-right: 8rem;
}